{% extends 'base.html.twig' %}

{# {% block title %}Annonces {{ title }} {% endblock %} #}
{% block header %}{% endblock %}
{% block body %}
   <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">Posté le {{annonce.createdat | date("d/m/y")}}</div>
                        <h1 class="display-5 fw-bolder">{{ annonce.title }}</h1>
                        <div class="fs-5 mb-5">
                            <span>{{ annonce.prix }} €</span>
                          
                        </div>
                        <p class="lead"> {{ annonce.content }}</p>
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />

                            <a onclick="return confirm('Supprimer annonce?')" href="{{path('annonce_delete', {id:annonce.id}) }}">
                               Supprimer annonce
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
